:root {
    --first-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --header-text-color1: #ffffff;
    --header-text-color2: #212121;
    --main-bg-user: #2196f3;
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto';
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*------------HEADER---------------*/
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--header-text-color1);
    border-bottom: 1px solid #ececec;
}
.header-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.header-connect-list {
    display: flex;
    margin-left: 285px;
}
.header-connect {
    display: flex;
    justify-content: center;
}
.header-connect-item {
    display: flex;
    align-items: center;
}
.contacks-icon {
    margin-right: 10px;
    fill: currentColor;
}
.current {
    color: var(--accent-color);
}
.header-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--header-text-color2);
    transition: color 250ms linear;
    position: relative;
}
.header-link.current::after {
    left: 0;
    bottom: -32px;
    margin-bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;
}
.header-item {
    margin-right: 50px;
}
.header-item:last-child {
    margin-right: 0px;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms linear;
}
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin-left: 20px;
    transition: color 250ms linear;
}
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
.logo-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    list-style: none;
}
.logo-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    text-decoration: none;
    list-style: none;
}
/* ---------------HERO--------------- */
.hero {
    margin: 0 auto;
    max-width: 1600px;
    background-color: #2f303a;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/img-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-container {
    margin: auto;
    padding: auto;
    width: 1200px;
    padding: 200px;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-text-color1);
    margin-bottom: 30px;
    width: 696px;
    display: inline-block;
}
.button {
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    display: flex;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    color: var(--header-text-color1);
    border: none;
}
.characteristic-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color2);
}
.characteristic-container {
    margin: auto;
    padding: auto;
    width: 1200px;
    padding: 94px 15px 0px 15px;
}
.characteristic-list {
    display: flex;
}
.characteristic-list-block-icon {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.characteristic-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-right: 30px;
    padding-top: 10px;
}
/* ----------------ABOUt US----------*/
.business-container {
    margin: auto;
    padding: auto;
    width: 1200px;
    padding: 94px 15px 94px 15px;
}
.business {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 50px;
}
.business-list {
    display: flex;
}
.business-item {
    margin-right: 30px;
    position: relative;
    display: flex;
}
.business-item-subtext {
    margin-top: 224px;
    position: absolute;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}
.business-item-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color1);
}
/*-------------------OUR TEAM------------*/
.team-section {
    padding: 94px 0;
    background: #f5f4fa;
}
.team-container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    left: 0px;
    justify-content: center;
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
.team-list {
    display: flex;
    margin-top: 50px;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
}
.team-item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--header-text-color1);
}
.team-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--second-text-color);
}
.team-social-item {
    width: 44px;
    height: 44px;
}
.team-social-item + .team-social-item {
    margin-left: 10px;
}
.team-social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.team-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms linear, background-color 250ms linear;
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
    color: var(--header-text-color1);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
    fill: var(--header-text-color1);
}
.team-social-icon {
    fill: #afb1b8;
    height: 20px;
    width: 20px;
}
.clients-section {
    padding-left: 15px;
}
.clients-container {
    margin: auto;
    padding: auto;
    width: 1170px;
}
.clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    margin-bottom: 94px;
    align-items: center;
}
.clients-item {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
}
.clients-item:first-child {
    margin-left: 0;
}
.clients-item-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
}
.clients-item-link:hover,
.clients-item-link:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.footer-main-container {
    background: #2f303a;
}
.footer-container {
    margin: auto;
    padding: auto;
    width: 1200px;
    padding: 60px 15px 60px 15px;
    display: flex;
}
.footer {
    background: #2f303a;
    padding: 60px 0;
}
.footer .footer-logo-link .footer-logo-text {
    margin-bottom: 20px;
    display: inline-block;
}
.footer-logo-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    list-style: none;
}
.footer-logo-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color1);
    text-decoration: none;
    list-style: none;
}
.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-text-color1);
    margin-top: 20px;
    margin-bottom: 9px;
}
.footer-contacks-item {
    margin-bottom: 9px;
}
.footer-mail {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms linear;
}
.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}
.footer-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    transition: color 250ms linear;
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}
.footer-socials {
    margin-left: 70px;
    margin-top: 12px;
}
.footer-socials-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color1);
    margin-bottom: 20px;
}
.footer-socials-list {
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.footer-socials-item {
    width: 44px;
    height: 44px;
}
.footer-socials-item + .footer-socials-item {
    margin-left: 10px;
}
.footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--header-text-color1);
    transition: color 250ms linear, background-color 250ms linear;
}
.footer-form-container {
    margin-left: 93px;
}
.footer-form {
    display: flex;
}
.footer-form-field {
    width: 358px;
}
.footer-form-input {
    width: 358px;
    height: 50px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    color: var(--header-text-color1);
}
.footer-form-label {
    display: inline-flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color1);
    margin-bottom: 20px;
}
.footer-form-icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}
.footer-button {
    display: flex;
    position: relative;
    width: 200px;
    height: 50px;
    align-self: flex-end;

    margin-left: 12px;

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/*---------------PORTFOLIO-------------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.portfolio-container {
    margin-top: 94px;
}
.choise-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.choise-menu-list:not(:first-child) {
    margin-left: 8px;
}
.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    background: #f5f4fa;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color 250ms linear, background-color 250ms linear;
}
.menu-button:hover,
.menu-button:focus {
    color: var(--header-text-color1);
    background-color: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-active {
    color: var(--header-text-color1);
    background-color: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*---------------PORTFOLIOLIST-------------*/
.portfolio-container {
    width: 1200px;
    margin: auto;
    padding: auto;
    padding: 94px 15px 94px 15px;
}
.portfolio-item {
    margin: 15px;
    display: block;
    width: 370px;
    position: relative;
    overflow: hidden;
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-portfolio {
    display: block;
    width: 370px;
    height: auto;
}
.portfolio-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.portfolio-item:hover .overlay-text {
    transform: translateY(-100%);
}
.overlay-text {
    position: absolute;
    width: 370px;
    height: 294px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    color: var(--header-text-color1);
    padding: 63px 24px 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info {
    padding: 20px 24px 20px 24px;
    outline: 1px solid #eeeeee;
}
.portfolio-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.portfolio-title .portfolio-text {
    padding: 20px 24px;
}
.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
    transform: scale(0.5) rotate(50deg);
}
.modal {
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) rotate(0) translate(-50%, -50%);
    transition: transform 250ms;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--anim);
}
.modal-close:focus,
.modal-close:hover {
    fill: var(--main-bg-user);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 12px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 10px;
    background-color: transparent;
    transition: border-color 250ms linear;
}
.modal-input:focus + .input-icon {
    fill: var(--accent-color);
}
.modal-input:focus {
    border-color: var(--accent-color);
}
.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms linear;
}
.modal-form-field {
    font-size: 12px;
    color: var(--second-text-color);
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}
.modal-form-text {
    display: block;
    margin-bottom: 5px;
}
.modal-input-wrap {
    position: relative;
}
.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    resize: none;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border-color 250ms;
}
.checkbox-field {
    width: 100%;
    height: 24px;
}
.modal-text:focus {
    border-color: var(--accent-color);
}
.check-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    display: flex;
}
.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    margin-right: 5px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}
.icon-check {
    fill: #ffffff;
}
.modal-check {
    display: flex;
    position: absolute;
}
.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}
.policy-contract {
    color: var(--accent-color);
}
.btn-check {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    color: var(--header-text-color1);
    background-color: var(--main-bg-user);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-check:focus,
.btn-check:hover {
    background-color: #188ce8;
}
.btn-check-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    padding: 10px 55px;
    letter-spacing: 0.06em;
}
