:root {
    --first-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --header-text-color1: #ffffff;
    --header-text-color2: #212121;
    --main-bg-user: #2196f3;
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
